<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="https://codingtamgu.pythonanywhere.com/bookmark">BookMark</a></li>
        <li role="presentation" class="active"><a href="https://theblogtamgu.com">Theblogtamgu</a></li>
        <li role="presentation"><a href="#">추천사이트1</a></li>
        <li role="presentation"><a href="#">추천사이트2</a></li>
    </ul>
    <br/>
    <hr>
    {%block content%}    
    {%endblock%}
</div>
</body>
</html>
